# Dependencies
node_modules/

# Husky
.husky/_/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Docker logs
infra/mosquitto/log/*.log
infra/mosquitto/data/

.atl/

# SQLite database (runtime artifact)
*.db